<nav class="navbar container-fluid fixed-top">
    <div class="d-inline-flex align-items-center w-100">
        <img src="/assets/images/logoItu.png" class="logo" alt="logo">
        
        <ul class="nav ms-auto align-items-center">
            <li class="nav-item">
                <p class="nombre mb-0">Nombre del Estudiante/Profesor</p>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" data-bs-toggle="dropdown" href="#" role="button"
                    aria-expanded="false"><i class="bi bi-caret-down-fill"></i></a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="#">Perfil</a></li>
                    <li><a class="dropdown-item" href="#">Calificaciones</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Cerrar sesión</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>

