<div class="fondo">
    <div class="container footer">
        <div class="row">
            <div class="col-lg-3">
                <p class="redes"><i class="bi bi-facebook"></i></p>
            </div>
            <div class="col-lg-3">
                <p class="redes"><i class="bi bi-twitter-x"></i></p>
            </div>
            <div class="col-lg-3">
                <p class="redes"><i class="bi bi-instagram"></i></p>
            </div>
            <div class="col-lg-3">
                <p class="redes"><i class="bi bi-whatsapp"></i></p>
            </div>
        </div>
        <hr>
        <p class="texto">Creado por <b>Quinto Desarrollo</b> del <b>ITSQMET</b>&nbsp;&nbsp;
            <i class="r bi bi-bootstrap-reboot"></i></p>
    </div>
</div>

