<!--Navbar top-->
<app-nav-bar-top></app-nav-bar-top>

<!--DATOS-->
<div class="datos">
    <form>
        <h3>DATOS PERSONALES</h3> 
        <div class="mb-4">
            <div class="row g-3 align-items-center">
                <div class="col-sm-4">
                    <label class="col-form-label">Nombre</label>
                </div>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="nombre" [(ngModel)]="nombre" disabled>
                </div>
            </div>
        </div>
        <div class="mb-4">
            <div class="row g-3 align-items-center">
                <div class="col-sm-4">
                    <label class="col-form-label">Apellido(s)</label>
                </div>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="apellido" [(ngModel)]="apellido" disabled>
                </div>
            </div>
        </div>
        <div class="mb-4">
            <div class="row g-3 align-items-center">
                <div class="col-sm-4">
                    <label class="col-form-label">Carrera</label>
                </div>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="carrera" [(ngModel)]="carrera" disabled>
                </div>
            </div>
        </div>
        <div class="mb-4">
            <div class="row g-3 align-items-center">
                <div class="col-sm-4">
                    <label class="col-form-label">Email</label>
                </div>
                <div class="col-sm-8">
                    <input type="email" class="form-control" name="email" [(ngModel)]="email" disabled>
                </div>
            </div>
        </div>
        <div class="mb-4">
            <div class="row g-3 align-items-center">
                <div class="col-sm-4">
                    <label class="col-form-label">Ciudad</label>
                </div>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="ciudad" [(ngModel)]="ciudad" disabled>
                </div>
            </div>
        </div>
        <div class="mb-4">
            <div class="row g-3 align-items-center">
                <div class="col-sm-4">
                    <label class="col-form-label">País</label>
                </div>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="pais" [(ngModel)]="pais" disabled>
                </div>
            </div>
        </div>
        <!-- <div class="btn-group" role="group">
            <button type="submit" class="btn btn-outline-primary">Actualizar</button>
            <button type="submit" class="btn btn-outline-primary">Cancelar</button>
        </div> -->
    </form>
</div>