<body>
    <div class="navbar">
        <h1><img src="assets/images/logo_ISI.png" alt="Logo IT ISI"></h1>
    <ul>
        <div class="navbar-item" onclick="window.location.href='#'"><i class="bi bi-journals"></i>Mis notas</div>
        <div class="navbar-item" onclick="window.location.href='/home'"><i class="bi bi-house-door"></i>Página principal</div>
        <div class="navbar-item" onclick="window.location.href='#'"><i class="bi bi-person-vcard"></i>Área personal</div>
    </ul>   
    </div>
</body>