<app-nav-bar-top></app-nav-bar-top>
<div class="container">
    <h1>INTEGRACION DE SISTEMAS INFORMATICOS [Mod 4, ABR-SEP24 Mat. S-A I
        m mi j 07h00-08h30-Sur]</h1>
    <table class="table">
        <thead>
            <tr>
                <td *ngFor="let item of datosList">{{item.tarea}}</td>
                <th>Promedio</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            <tr >
                <td *ngFor="let item of datosList">{{item.nota}}</td>
                <td>{{ promedioNotas() }}</td>
                <td>{{ promedioNotas() >= 7 ? 'APRO' : 'REP' }}</td>
            </tr>
        </tbody>
    </table>
    <br>
    <button class="btn" type="submit" (click)="regresar()">Regresar al curso</button>
</div>