<app-nav-bar-top></app-nav-bar-top>

<div class="container">
    <div class="tabla-estudiantes">
        <h3>Lista de estudiantes</h3>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Carrera</th>
                    <th scope="col">Nivel</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Juan Estevez</td>
                    <td>Desarrollo de software</td>
                    <td>Cuarto</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jenifer Pereira</td>
                    <td>Desarrollo de software</td>
                    <td>Quinto</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Jhon Perez</td>
                    <td>Redes y Telecomunicaciones</td>
                    <td>Cuarto</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>